:root {
  --page-background-color: #E1D4C9;
  --text-primary-color: #403F3D;
  --overlay-color: #403F3D;
  --text-accent-color: #B0907A;
  --border-primary: #C1B6AD;
  --theme-selected-color: #B0907A;
  --theme-hover-color: #665F55;
  --theme-icon-hover-color: #E1D4C9;
  --border-inverse: #665F55;
  --text-inverse-color: #E1D4C9;
  --container-background-color: #665F55;
}

[data-theme='dark'] {
  --page-background-color: #292826;
  --text-primary-color: #E1D4C9;
  --theme-icon-hover-color: #E1D4C9;
  --theme-hover-color: #403F3D;
  --border-primary: #665F55;
  --border-inverse: #C1B6AD;
  --text-inverse-color: #E1D4C9;
  --container-background-color: #403F3D;
  --overlay-color: #292826CC;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: Inter, sans-serif;
  background-color: var(--page-background-color);
  max-width: 1440px;
  margin-inline: auto;
  padding: 20px 40px;
  color: var(--text-primary-color);
}

a {
  text-decoration: none;
  color: var(--text-primary-color);
}

li {
  list-style: none;
}

.logo {
  width: 100px;
  height: 60px;
}

.logo-text-color {
  color: var(--text-primary-color);
}

.logo-circle-color {
  color: var(--theme-selected-color);
}

.header {
  display: flex;
  align-items: center;
  font-size: 16px;
  font-weight: 600;
  line-height: 150%;

}

.header-navigation {
  flex-grow: 1;
}

.header-menu {
  display: flex;
  gap: 40px;
  justify-content: center;
}

.header-menu-item a {
  position: relative;
}

.header-menu-item a::after {
  position: absolute;
  content: '';
  background-color: var(--text-primary-color);
  width: 0;
  height: 2px;
  bottom: -5px;
  left: 50%;
  transform: translateX(-50%);
  transition: width 0.2s ease;
}

.header-menu-item a:hover::after {
  width: 100%;
}

.link-to-menu {
  display: flex;
  gap: 24px;
  align-items: center;
}

.link-menu-item {
  display: flex;
  gap: 8px;
  align-items: center;
  position: relative;
}



.link-menu-item::after {
  position: absolute;
  content: '';
  width: 0;
  bottom: -4px;
  height: 2px;
  left: 50%;
  background-color: var(--text-primary-color);
  transition: width 0.3s ease;
  transform: translateX(-50%);
}

.link-menu-item:hover::after {
  width: 100%;
}


.theme-items {
  width: 36px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.menu-theme-selected {
  border: 1px solid var(--border-primary);
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 3px;
  border-radius: 100px;
  cursor: pointer;
}


.theme-light {
  background-color: var(--theme-selected-color);
  color: var(--theme-icon-hover-color);
}

.menu-input:checked+.menu-theme-selected .theme-light:hover {
  background-color: var(--theme-hover-color);
}



.theme-dark {
  color: var(--text-primary-color);
}

.menu-input:not(:checked)+.menu-theme-selected .theme-dark:hover {
  background-color:
    var(--theme-hover-color);
  color: var(--theme-icon-hover-color);
}



.menu-input:checked+.menu-theme-selected .theme-light {
  background-color: transparent;
}

.menu-input:checked+.menu-theme-selected .theme-dark {
  background-color: var(--theme-selected-color);
}

.menu-input {
  position: absolute;
  opacity: 0;
}

.menu-input:focus-visible+.menu-theme-selected {
  outline: 1px solid currentColor;
}

.burger-menu {
  cursor: pointer;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border: 1px solid var(--border-inverse);
  width: 44px;
  height: 44px;
  background-color: transparent;
  border-radius: 100px;
  gap: 8px;
  display: none;
}

.burger-menu-item {
  width: 16px;
  border-top: 1.5px solid var(--text-primary-color);
}

.main {
  display: flex;
  flex-direction: column;
  gap: 100px;
  padding: 20px 40px;
}

.main-menu {
  position: relative;
}

.main-video-container {}

.main-video {
  max-width: 100%;
}

.title-container {
  position: absolute;
  top: 10%;
  left: 10%;
  bottom: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 530px;
  gap: 40px;
}

.main-title {
  font-weight: 600;
  font-size: 72px;
  color: var(--text-inverse-color);

}

.enjoy-title {
  font-weight: 600;
  font-style: italic;
  line-height: 105%;
  font-size: 72px;
  color: var(--theme-selected-color);
}

.main-description {
  font-weight: 400;
  font-size: 16px;
  color: var(--text-inverse-color);
  line-height: 150%;
}

.title-menu-button {
  padding: 20px 78px;
  border-radius: 100px;
  background-color: var(--page-background-color);
  align-self: start;
  border: none;
  cursor: pointer;
  line-height: 150%;
  font-weight: 600;
  font-size: 16px;
  color: var(--text-primary-color);
}

.favorite-coffee {
  display: flex;
  gap: 40px;
  flex-direction: column;
}

.favorite-coffee-title {
  display: flex;
  justify-content: center;
  font-size: 60px;
  font-weight: 600;
  line-height: 125%;
}

.favorite {
  color: var(--text-accent-color);
  font-style: italic;
}

.favorite-coffee-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.favorite-card {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.favorite-card-image {
  align-self: center;
  max-width: 480px;
}

.favorite-card-text-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  max-width: 480px;
}

.favorite-card-title {
  font-size: 24px;
  font-weight: 600;
  line-height: 125%;
}

.favorite-card-description {
  text-align: center;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;

}

.favorite-card-price {
  font-size: 24px;
  font-weight: 600;
  line-height: 125%;
}

.favorite-card-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  border-radius: 100px;
  color: var(--text-primary-color);
  border: 1px solid var(--border-inverse);
  background-color: inherit;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.favorite-card-button:hover {
  color: var(--text-inverse-color);
  background-color: var(--container-background-color);
}

.selected-card {
  display: flex;
  gap: 12px;
  align-items: center;
  justify-content: center;
}

.selected-card-item {
  width: 40px;
  height: 4px;
  border: 1px solid var(--border-primary);
  background-color: var(--border-primary);
  border-radius: 100px;
}

.selected-card-item:active {
  border-color: var(--border-inverse);
  background-color: var(--border-inverse);
}

@media (max-width: 768px) {
  .burger-menu {
    display: flex;
  }

  .header-menu {
    display: none;
  }

  .menu-and-icon {
    display: none;
  }

  .theme-items {
    width: 44px;
    height: 44px;
  }
}

@media (max-width: 450px) {
  body {
    padding: 20px 16px;
  }

  .link-to-menu {
    gap: 12px;
  }
}